@import '../../common/constants.scss';

.worksWrapper {
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: rgba($purple, 0.08);
    overflow: hidden;

    @media ($break-desktop) {
        padding: 100px 0px 100px 0px;
    }

    .worksTitle {
        flex: 1;
        text-align: center;
        margin-bottom: 20px;
    }

    .worksCards {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        width: 100%;
        flex-wrap: wrap;

        @media ($break-desktop) {
            flex-wrap: nowrap;
            flex-direction: row;
            overflow-y: scroll;
        }

        div {
            background-color: aquamarine;
            border-radius: 15px;
            margin: 0px 0px 30px 0px;
            padding: 40px 50px 40px 50px;

            @media ($break-desktop) {
                min-width: 420px;
                margin: 0px 10px 0px 10px;
            }
        }
    }
}