@import '../../common/constants.scss';

.introWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0px;
    margin: 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;

    @media ($break-desktop) {
        flex-direction: row;
    }

    @keyframes animateWelcomeInfo {
        from{
            opacity: 0;
            transform: skewY(0deg) translateY(-100px);
        }
        to{
            opacity: 1;
            transform: skewY(0deg) translateY(0px);
        }
    }

    .col1{
        flex: 1;
        word-wrap: break-word;
        text-align: center;
        padding: 20px;
        margin-top: 20vw;
        animation: animateWelcomeInfo forwards 1s;
    
        @media ($break-desktop) {
            text-align: left;
            margin-top: 0px;
            margin-left: 10vw;
        }

        span{
            font-size: 4vw;
            text-transform: uppercase;
            font-weight: 300;
            line-height: 1.2;   
    
            @media ($break-desktop) {
                font-size: 1.5vw;
            }
        }
    
        h1, h2 {
            margin: 0px;
            padding: 0px;
            text-transform: uppercase;        
        }
    
        h1 {
            font-size: 8vw;
            font-weight: 600;
            line-height: 1.2;
    
            @media ($break-desktop) {
                font-size: 5vw;
            }
        }
    
        h2 {
            font-size: 4vw;
            line-break: loose;
            font-weight: 300;
            color: gray;
    
            @media ($break-desktop) {
                font-size: 1.3vw;
            }
        }
    
        a{
            min-width: 140px;
            display: inline-block;
            background-color: $green;
            border: solid 2px $green;
            font-weight: 700;
            padding: 13px;
            margin-top: 35px;
            border-radius: 5px;
            color: white;
            text-transform: uppercase;
            font-size: 15px;
            text-decoration: none;
            text-align: center;
            transition: background-color 1s;
    
            &:hover{
                background-color: $dark-green;
            }
        }
    }
    
    @keyframes animeLayer1 {
        from{transform: skewX(0deg) translateX(100%)}
        to{transform: skewX(-10deg) translateX(0%)}
    }
    
    @keyframes animeLayer2 {
        from{transform: skewX(0deg) translateX(100%)}
        to{transform: skewX(-10deg) translateX(10%)}
    }
    
    @keyframes animeLayer3 {
        from{transform: skewX(0deg) translateX(100%)}
        to{transform: skewX(-10deg) translateX(20%)}
    }

    @keyframes animeLayer4 {
        from{transform: skewX(0deg) translateX(100%)}
        to{transform: skewX(-10deg) translateX(30%)}
    }

    @keyframes animeLayer1Mobile {
        from{transform: skewY(0deg) translateY(100%);}
        to{transform: skewY(-10deg) translateY(0%)}
    }

    @keyframes animeLayer2Mobile {
        from{transform: skewY(0deg) translateY(100%)}
        to{transform: skewY(-10deg) translateY(15%)}
    }

    @keyframes animeLayer3Mobile {
        from{transform: skewY(0deg) translateY(100%)}
        to{transform: skewY(-10deg) translateY(30%)}
    }

    @keyframes animeLayer4Mobile {
        from{transform: skewY(0deg) translateY(100%)}
        to{transform: skewY(-10deg) translateY(45%)}
    }

    .col2{
        flex: 1;
        width: 100%;
        min-height: 40%;
        position: relative;
        z-index: -1;
        
        @media ($break-desktop) {
            height: 100%;
        }
        
        .layer1 {
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: linear-gradient( 135deg, $light-purple 10%, $purple 100%);
            animation: animeLayer1Mobile forwards 1s;        

            @media ($break-desktop) {
                height: 100%;
                animation: animeLayer1 forwards 1s;
            }
        }

        .layer2 {
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: linear-gradient( 135deg, $light-red 10%, $red 100%);
            animation: animeLayer2Mobile forwards 1.2s;             

            @media ($break-desktop) {
                height: 100%;
                animation: animeLayer2 forwards 1.2s;
            }
        }

        .layer3 {
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: linear-gradient( 135deg, $light-yellow 10%, $yellow 100%);
            animation: animeLayer3Mobile forwards 1.4s;          

            @media ($break-desktop) {
                height: 100%;
                animation: animeLayer3 forwards 1.4s;
            }
        }

        .layer4 {
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: linear-gradient( 135deg, $light-blue 10%, $blue 100%);
            animation: animeLayer4Mobile forwards 1.6s;

            @media ($break-desktop) {
                height: 100%;
                animation: animeLayer4 forwards 1.6s;
            }
        }
    }
}